h1 {
    color: red;
    text-align: center;
    

    /* padding: 20px; */
    margin: 0;

    /* border: 20px solid yellow; */
}
/*Ceci permet de designer les titres h2*/
h2 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    

    /* padding: 20px; */
    margin: 0;

    /* border: 20px solid green; */
}
p {
    color: rgb(0, 0, 0);
}
header {
    color:rgb(31, 31, 214);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.background-valorant {
    width: 100%;

    position: absolute;
    left:0;
    top:0;

    z-index: -1;
}
footer {
list-style-type: none;
display:flex;
align-items: flex-end;
}
img {
    width: 10%;
}
section {
    min-height: 100vh;
}
.arme-valorant {
    width: 100px;
}

.armes {
    display: flex;
    justify-content: space-around;
}
.armes .boite-arme h4{
    text-align: center;
}
.Maps-valorant{
    width: 1600px
}

.Maps {
    display: flex;
    justify-content: space-around;
}